input, 
button {
  padding: 0 10px 0 10px;
  color: green;
  height: 2em;
  border-radius: .2em;
}
input:hover, 
button:hover {
  color: red;
}
form {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
input {
    flex-grow: 1;
   flex: 90%;
}
button {
  border: 1px solid grey;
  flex: 10%;
}