table {
    border-collapse: collapse;
    text-align: center;
  }
  
  thead {
    border: 2px solid black;
    background-color: black;
    color: white;
  }
  
  table, td {
    border: 2px solid #ccc;
    padding: 10px;
  }
  
  img {
    height: 120px;
    width: 120px;
    border-radius: 20px;
  }

#soul{
    background-color: orange;
}
#time{
    background-color:green;
}
#space{
    background-color:blue;
}
#mind{
    background-color:yellow;
}
#reality{
    background-color:red;
}
#power{
    background-color:purple;
}
 
