body {
    margin-top: 20px;
  }
  .circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: green;
    display: inline-block;
    position: absolute;
    left: 0.2em;
    min-width: 5em;
    animation: moving 20s infinite;
    }
  
  @keyframes moving {
    50%{
      left: 100%;
      margin-left: -6.4em;
    }
  }
  .ease:before {
    animation-timing-function: ease;
  }
  .circle:hover {
    transition: 1s;
    background: red;
  }