body{
    background-color: #0d0e10;
    margin:0;
}
path{
    fill: white;
}
h1, h2, h3{
    font-family: 'Raleway', sans-serif;
    color:#fff;
}
p, a, button, ul li{
    color:#fff;
    font-family: 'Roboto', sans-serif;
}
a, svg{
    text-decoration: none;
    transition: all 0.2s;
    border-radius:10px;
}
a:hover{
    color:#01dd96;
}
/* Navigation */
.nav{
    width:100%;
    position: fixed;
    background: #0d0e10;
    margin-top: -8px;
    z-index: 99;
    padding: 0;
    margin: -10px 0px 0px 0px;
}
.nav_link{
    width:100%;
    display: flex;
    justify-content: center;
}
.nav_link ul{
    list-style: none;
    padding: 0;
}
 .nav_link ul li{
    display:inline-block;
    padding:0px 60px;
    font-size: 20px;
}
/* About Block */
.about_block{
    width:100%;
    height:calc(100vh + 50px);
}
.about_content{
    width: 95%;
    height: 100%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about_content img {
    border-radius:50%;
    width:100px;
}
.about_content h1{
    font-size: 50px;
    margin: 10px 0px;
    background: -webkit-linear-gradient(180deg, #06629b, #01dd96);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    user-select: none;
    width: 260px;
}
span.underline{
    display: block;
    width: 50px;
    height:3px;
    background-color: #01dd96;
    animation: underline 5s infinite;
    position: absolute;
}
span.overline{
    display: block;
    width: 50px;
    height:3px;
    background-color: #06629b;
    animation: overline 5s infinite;
    position: absolute;
    top:4px
}
@keyframes overline{
    0%   {right: 0%;
           opacity:0}
    25%{opacity: 1;}      
    50%{right: calc(320px - 100px);
        background-color: #01dd96;
        opacity:0;}
    75%{opacity: 1;}
    100%{right:0%;
         opacity: 0;}
}
@keyframes underline{
    0%   {left: 0%;
           opacity:0}
    25%{opacity: 1;}      
    50%{left: calc(320px - 100px);
        background-color: #06629b;
        opacity:0;}
    75%{opacity: 1;}
    100%{left:0%;
         opacity: 0;}
}
span.bold_text{
    font-family: 'Raleway', sans-serif;
}
.about_content button{
    padding: 0px 35px;
    height: 48px;
    border-radius: 30px;
    background: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    border: 0;
    transition: all 0.4s;
}
.about_content button:hover{
    background: #0d0e10;
    border:2px solid #01dd96;
    color:white;
}
/* Skills */
.skills_content, .project_content, .contacts_content{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills_content h1, .project_content h1, .contacts_block h1{
    text-align: center;
    font-size: 38px;
    margin: 5px 0px;
    background: -webkit-linear-gradient(180deg, #06629b, #01dd96);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills_cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.skills_block, .project_block{
    width: 100%;
    margin:150px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.card{
    width: 100%;
    border: 2px solid #01dd96;
    padding: 55px 20px;
    margin: 10px 0px;
    border-radius: 20px;
    transition: 0.2s;
}
.card ul{
    list-style: none;
    padding: 0;
    line-height: 1.8;
}
/* Project */
.projects_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
    width:100%;
}
.project{
    width: 100%;
    height: 180px;
    border:1px solid #01dd96;
    padding: 20px 20px;
    margin:10px 0px;
    border-radius: 20px;
    position: relative;
    transition: 0.2s;
}
.project p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
}
.card:hover, .project:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 2px rgba(1,221,150,0.4);
}
.contacts_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin:150px 0px;
}
.contacts_content ul{
    list-style: none;
    padding: 0;
}
.contacts_content ul li{
    padding: 0px 10px;
    display: inline-block;
    transition: 0.3s;
}
svg{
    transition: 0.3s;
}
.contacts_content ul li svg:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 15px 2px rgba(1,221,150,0.4);
}
.contacts_content{
    text-align:center;
}
@media screen and (min-width:320px){
     .nav_link ul li{
        padding:0px 12px;
        font-size: 14px;
    }
    }
@media screen and (min-width:480px){
    .nav{
        padding: 5px 0px;
    }
     .nav_link ul li{
        padding:0px 25px;
        font-size: 15px;
    }
    .about_content{
        width: 460px;
    }
    .about_content img {
        width:180px;
    }
    .about_content h1{
        font-size: 68px;
        margin: 25px 0px;
        width: 350px;
    }
    @keyframes overline{
        0%   {right: 0%;
               opacity:0}
        25%{opacity: 1;}      
        50%{right: calc(100% - 50px);
            background-color: #01dd96;
            opacity:0;}
        75%{opacity: 1;}
        100%{right:0%;
             opacity: 0;}
    }
    @keyframes underline{
        0%   {left: 0%;
               opacity:0}
        25%{opacity: 1;}      
        50%{left: calc(100% - 50px);
            background-color: #06629b;
            opacity:0;}
        75%{opacity: 1;}
        100%{left:0%;
             opacity: 0;}
    }
    .skills_content h1, .project_content h1, .contacts_block h1{
        font-size: 45px;
    }
    .projects_cards{
        justify-content: space-around;
    }
    .project{
        width: 440px;
    }
    }
@media screen and (min-width:850px){
.nav{
    padding: 10px 0px;
}
 .nav_link ul li{
    padding:0px 60px;
    font-size: 20px;
}
.about_content{
    width: 800px;
}
.about_content img {
    width:180px;
}
.about_content h1{
    font-size: 68px;
    margin: 25px 0px;
    width: auto;
}
span.underline{
    width: 100px;
}
span.overline{
    width: 100px;
}
@keyframes overline{
    0%   {right: 0%;
           opacity:0}
    25%{opacity: 1;}      
    50%{right: calc(100% - 100px);
        background-color: #01dd96;
        opacity:0;}
    75%{opacity: 1;}
    100%{right:0%;
         opacity: 0;}
}
@keyframes underline{
    0%   {left: 0%;
           opacity:0}
    25%{opacity: 1;}      
    50%{left: calc(100% - 100px);
        background-color: #06629b;
        opacity:0;}
    75%{opacity: 1;}
    100%{left:0%;
         opacity: 0;}
}
.skills_content, .project_content, .contacts_content{
    width: 800px;
    height: 100%;
}
.skills_content h1, .project_content h1, .contacts_block h1{
    font-size: 45px;
}
.skills_cards{
    justify-content: space-between;
}
.card{
    width: 345px;
    margin: 30px 0px;
}
.projects_cards{
    justify-content: space-between;
}
.project{
    width: 43%;
}
}
